.threeColumns {
    background-image: url('../../../src/assets/3-Columns-Background.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15vw;
    padding-inline: 8.5vw;
    padding-block-start: 5vh;
    padding-block-end: 9vh;
    &__element {
        &-num{
            text-align: center;
            font-size: 90px;
            font-weight: 300;
            line-height: 122px;
            color: $numbers-color;
            padding-block-end: 10px;
        }
        &-subtitle {
            text-align: center;
            font-size: 18px;
            letter-spacing: -0.36px;
            line-height: 30px;
            padding-block-end: 28px;
        }
        &-text {
            text-align: center;
            font-family: $font-alt;
            font-weight: 300;
            letter-spacing: -0.32px;
            line-height: 18px;
        }
    }
}